
.btn-secondary {
  background-color: $green;
  color: white;
  padding: 12px 20px;
  margin-top: 12px;
  margin-right: 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.back-btn,
.btn-submit {
  border: solid 2px;
  padding: .5em;
  background-color: black;
  color: white;
  font-weight: 600;
  text-decoration: none;
}

.submit-selected {
  transform: scale(1.05);
  background-color: #49a050;
  cursor: pointer;
  text-decoration: none;
}
