
@mixin headerFont($fontSize) {
  color:  $green;
  font-size: $fontSize;
}

@mixin subheading($fontweight, $fontsize) {
  font-weight: $fontweight;
  font-size: $fontsize;
  color: $darkCharcoal;
}

.required, 
.error-msg {
  color: red;
}

.flag {
  color: $darkCharcoal;
  font-style: italic;
  
}