
h1 {
  @include headerFont(5vh);
}

.form-progress {
  @include subheading(600, 24px)
}

.form {
  margin-top: 20px;
  text-align: left;
  padding: 4%;
  font-size: medium;
  border-radius: 4px;
}

input[type=text],
input[type=email],
input[type=date],
input[type=tel],
input[type=password],
textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  outline: 0;
  border-width: 0 0 1px;
  border-color: $lightGrey;
  font-size: medium;
  font-family: 'PT Sans', sans-serif;
}

input:focus {
  border-color: $green;
}

.date-help-info {
  font-style: bold;
  font-size: medium;
  border: none;
  color: blue;
  padding: 2px;
  background: transparent;
}

input[type=date] {
  font-size: medium;
  font-family: 'PT Sans', sans-serif;
}

input[type=submit]:hover {
  background-color: orange;
}

/* adds spacing around radio buttons and label */
.jobType {
  margin-top: 2.5em;
  padding-bottom: -1.2em;
}

.radioBtns {
  margin-top: 1em;
  margin-bottom: 1em;
}

.btm-btn {
  margin-bottom: 3em;
}

.jobDescription {
  margin-bottom: 2em;
}
