
h1 {
  @include headerFont(5vh);
}

.form-progress {
  @include subheading(600, 24px)
}

.form {
  margin-top: 20px;
  text-align: left;
  padding: 4%;
  font-size: 20px;
}

input[type=text], 
input[type=email], 
input[type=date],
input[type=tel],
textarea {
  width: 90%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  margin-top: 6px; 
  margin-bottom: 24px;
  resize: vertical;
  outline: 0;
  border-width: 0 0 1px;
  border-color: $lightGrey;
  font-size: 18px;
}

input:focus {
  border-color: $green;
}

.date-help-info {
  font-style: bold;
  font-size: medium;
  border: none;
  color: blue;
  padding: 2px;
  background: transparent;
}

input[type=date] {
  font-size: medium;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

input[type=submit]:hover {
  background-color: orange;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* adds spacing around radio buttons and label */
.jobType {
  margin-top: 2.5em;
  padding-bottom: 1.2em;
}

.radioBtns {
  margin-top: 1em;
  margin-bottom: 1em;
}

.btm-btn {
  margin-bottom: 3em;
}

.jobDescription {
  margin-bottom: 2em;
}


