
 /* Monitors with screen width 1366px or above */

h2 { 
  font-size: 36px; 
}

.logout {  
  max-width: 120px;
  height: auto;
  font-size: 14px;
  position: absolute;
    top: 0;
    right: 10%;
}

/*  Tablets - landscape mode */

@media only screen and (min-width: 1340px) {

  h2 { 
    font-size: 32px; 
  }

  .form { 
    height: 100%;
    width: 70%; 
    display: inline-block;  
    background-color: $lightestGrey;
  }

  input[type=text], 
  input[type=email], 
  input[type=date],
  input[type=tel],
  textarea {
    border-radius: 4px;
    box-sizing: border-box; 
    border: 1px, solid, $lightGrey;
    background: transparent;
  }

  img.logo { 
    width: 50%; 
    height: auto; 
  }

  .App {
    margin-left: 400px;
    margin-right: 400px;
  }

  .logout {  
    max-width: 120px;
    height: auto;
    font-size: 14px;
    position: absolute;
      top: 0;
      right: 10%;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1339px) {
  h1 {
    font-size: 36px; 
  }
  
  h2 { 
    font-size: 32px; 
  }

  .form { 
    width: 75%;
    display: inline-block;  
    background-color: $lightestGrey;
  }

  input[type=text], 
  input[type=email], 
  input[type=date],
  input[type=tel],
  textarea {
    border-radius: 4px;
    box-sizing: border-box; 
    border: 1px, solid, $lightGrey;
    background: transparent;
  }

  img.logo { 
    width: 50%; 
    height: auto; 
  }

  .App {
    margin-left: 250px;
    margin-right: 250px;
  }
}

/*  Tablets - portrait mode, large display smartphones landscape mode */

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  h1 {
    font-size: 36px; 
  }
  
  h2 { 
    font-size: 30px; 
  }

  .form { 
    width: 75% 
  }

  img.logo { 
    width: 50%; 
    height: auto; 
  }

  .date-help-info {
    padding: 14px 0px 14px 0px;
  }   

  .logout {  
    max-width: 160px;
    width: auto;
    line-height: 16px;
    font-size: 14px;
    position: absolute;
      top: 0;
      right: 5%;
  }
}

/*  Smartphones in landscape mode */

@media only screen and (min-width: 421px) and (max-width: 767px) {
  h1 {
    font-size: 34px; 
  }
  
  h2 { 
    font-size: 28px; 
  }

  .form { 
    width: 75%  
  }

  .date-help-info {
    padding: 14px 0px 14px 0px;
  }

  .add,
  .eligible,
  .filed,
  .profile {
    font-size: 20px;
  }

  .logout {  
    max-width: 100px;
    padding: 5px;
    width: auto;
    line-height: 14px;
    font-size: 12px;
    position: absolute;
      top: 0;
      right: 5%;
  }

  .login {
    margin: 1em;
    width: 70%;
  }
}

/*  Smartphones in portrait mode  */

@media only screen and (max-width: 420px) {

 .logo { 
    width: 50%; 
    height: auto; 
    align-self: flex-start;
  }

  h1 {
    font-size: 30px; 
  }
  
  h2 { 
    font-size: 24px; 
  }

  .form { 
    width: 100% 
  }

  .date-help-info {
    padding: 16px 0px 16px 0px;
  }

  .add,
  .eligible,
  .filed,
  .profile {
    font-size: 16px;
  }

  .back-btn,
  .btn-submit
  .btn,
  .btn-secondary {
    width: auto;
    margin-top: 20px; 
    font-size: 14px;
  }

  .logout {  
    max-width: 55px;
    width: auto;
    padding: 5px;
    line-height: 14px;
    font-size: 12px;
    position: absolute;
      top: 0;
      right: 5%;
  }

  .login {
    margin: 1em;
    width: 80%;
  }
}